[submodule "event_horizon"]
	path = event_horizon
	url = git@github.com:ateventhorizon/event_horizon.git
[submodule "projects/trends.bar/src/futuremodules"]
	path = projects/trends.bar/src/futuremodules
	url = git@github.com:ziocleto/futuremodules.git
[submodule "projects/doublecanny.com/src/futuremodules"]
	path = projects/doublecanny.com/src/futuremodules
	url = git@github.com:ziocleto/futuremodules.git
